/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***************Amina Afrikou   *******/
/*header */

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo
{ 
    width: 61px;
    height: 19px;
}
/* Menu de navigation ******/
header
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    width:100%;
}

nav
{
    width: 23%; 
}

nav ul
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    list-style-type:none;
    padding-left:0;
}
nav ul li
{
    font-size: 16px;
}
.lien-menu
{  
    padding-top: 15px;  
}
.lien-menu:hover
{
    color:var(--main-color);
    border-top: solid 0.1rem var(--main-color);
}

/*****************Slogan Recherche Filtre **********************/
.section-slogan-recherche
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /*gap:20px;*/
    gap:35px;
    margin-bottom: 15px;
}
.slogan
{
    display: flex;
    flex-direction: column;
    gap:5px;
   
}
.slogan .text
{
    margin-top: 0;
    margin-bottom: 0;
}


/*****Formulaire ***************/

form
{
    display:flex;
    flex-direction: column;
    /*gap:15px;*/
    gap:35px;
}

/***** Première ligne  ************/
.icon-recherche
{
    color:black;
    font-size: 22px;
}
.icon-contenu
{
    width: 50px;
    background-color:var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    text-align: center;
}
.input-ville-recherche 
{
    border:none;
    border-top: var(--main-bg-color) solid;
    border-bottom: var(--main-bg-color) solid;
    font-weight:700;
    text-align: center;
}
.bouton-recherche
{
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color:var(--filter-bg-color);
    border:none ;
    width: 132px;
    text-align: center;
}

label , input, button
{
    font-size: 16px;
    font: bold;
    box-sizing: border-box;
    padding: 15px;
}
fieldset
{
    display:flex;
    border:none;
    padding-left: 0;
}

/***** Deuxième ligne filtres *************/
.filtres
{
   gap:20px;
}

.filtres-l
{
padding-left: 0;
}

.filtres button
{
    display: flex;
    border-radius: 25px;
    border: var(--main-bg-color) solid;
    background-color: white;
    gap:10px;
}

.filtres button:hover
{
    background-color: var(--filter-bg-color)
}

/******information**************/
.info
{
    display:flex;
    gap:10px;
    align-items: center;
    margin-bottom: 35px;
}
.info p
{
    margin:0;
}

.contour-i
{
    border:2px solid var(--main-bg-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.icon-i
{
    font-size: 12px;   
}


/*************************Section hebergements   *************************************/

.hebergements
{
   display: flex; 
   flex-direction: column;
   gap:35px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards a
{
    width:100%;
} 

.hebergements-cards
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
    width:100%;
}

/***********************************************/

.hebergements-cards .card
{
    height: 207px;
}
.hebergements-cards .card-content
{
    margin-left: 10px;
    margin-top: 0;
}

.hebergements-cards  .card-title
{
margin-top: 5px;
margin-bottom: 0;
}
.hebergements-cards .card-subtitle
{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.afficher-plus
{
    font-size: 18px;
    font-weight: 700;
}

/******************************** Section activités ************************************/
.main-activites /*section activités*/
{
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:50px;
}
.activites-cards  /* conteneur de cards */
{
   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
}
.activites-cards  a
{
  /* width:23%;*/
   width: 100%;
}
.activites-cards .card
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0;
}
.activites-cards img
{
    max-width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites-cards .card-subtitle
{
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

/********************************Section Footer *********************************************/

footer
{
    background-color: var(--main-bg-color);
    margin-top:50px;
    padding-top:10px;
    padding-left: 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.footergroup
{
    display:flex;
    flex-direction: column;
}
footer ul
{
    list-style-type:none;
    padding-left: 0;
}
footer ul li
{
    margin-bottom: 15px;
}
footer h2
{
    font-size: 18px;
}

/********************************Fin Amina *************************************/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
         
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}
/****************************Amina Media queries******************************/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */


    fieldset
{
    flex-wrap: wrap;
}

.hebergements-cards
{
    grid-template-columns: repeat(1, 1fr);;
}

.activites-cards
{
    display:flex;
    flex-direction:column;
    gap:20px;
}

footer
{
    grid-template-columns: repeat(1, 1fr)
}

 .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}